.nav-tab {
  position: absolute;
  width: 343px;
  bottom: 34px;
  left: 16px;
  z-index: 2;
}

.nav-item {
  flex: 1;
  .nav-link img {
    width: 32px;
  }
}

.bg-traveler {
  position: absolute;
  bottom: -40px;
}
