.nav-tab {
  position: absolute;
  width: 343px;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;

  @media screen and (min-width: 376px) {
    bottom: 44px;
  }
}

.nav-item {
  flex: 1;
  .nav-link img {
    width: 32px;
  }
}

.nav-link-title {
  font-weight: bold;
  color: $neutral-400;
  &.active {
    color: $neutral-100;
  }
}

.bg-traveler {
  position: absolute;
  bottom: -40px;
}
