.bg {
  &-sleep {
    background-image: url("/assets/images/04-background/sub-scene/sleep-page/scene-01/sub-scene-sleep-page-01-星光小路@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
