.bg {
  &-sleep {
    background-color: rgba(12, 28, 27, 0.4);
    background-blend-mode: multiply;
    background-image: url("/assets/images/04-background/sub-scene/sleep-page/scene-01/sub-scene-sleep-page-01-星光小路@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.progress {
  overflow: visible;
}
.progress-bar-character {
  position: absolute;
  z-index: 99;
  width: 48px;
  top: -22px;
  left: 24px;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
.new-item {
  width: 160px;
}
.drag-btn {
  width: 40px;
  height: 40px;
  left: 5px;
  top: 4px;
  transform: translate(-50%, 0);
}
.end-btn {
  width: 40px;
  height: 40px;
  right: 5px;
  top: 50%;
  transform: translate(0, -50%);
}

.drag-btn img {
  width: 24px;
  height: 24px;
  vertical-align: top;
}
