<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>collection</title>
  </head>
  <body>
    <div class="app">
      <div class="app-border">
        <div class="app-frame overflow-y-auto">
          <div class="sticky-top top-0 z-2">
            <%- include('layout/top-nav', { title: '圖鑑' , beforeLink: null ,
            nextLink: null}) -%>
            <div class="container">
              <div class="barContainer pt-6 pb-5 bg-neutral-1100">
                <div class="barText d-flex justify-content-between mb-3">
                  <p class="fw-bold fs-9">累積里程數</p>
                  <p class="me-1 ms-auto fs-9">6500 / 10000</p>
                  <p class="fs-9">
                    解鎖 <span class="fw-bold fs-9">記憶森林</span>
                  </p>
                </div>
                <div class="progress position-relative">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 25%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <!-- 前端圖示 -->
                    <img
                      src="/assets/images/02-character/progress-bar-character.svg"
                      alt="icon"
                      class="progress-icon"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main">
            <div class="container pb-6 position-relative">
              <div class="card p-4 bg mb-4">
                <a href="scene-village.html">
                  <img
                    src="/assets/images/04-background/main-scene/catalog/catalog-main-scene-淺夢之村-unlock.png"
                    class="card-img-top mb-2"
                    alt="catalog-main-scene-淺夢之村-unlock"
                  />
                  <div class="card-body">
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <h5 class="card-title fw-bold fs-6">淺夢之村</h5>
                      <p class="card-text fs-8">
                        收集進度： <span>12 / 75</span>
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="card p-4 bg mb-4">
                <img
                  src="/assets/images/04-background/main-scene/catalog/catalog-main-scene-深眠幽谷-unlock.png"
                  class="card-img-top mb-2"
                  alt="catalog-main-scene-深眠幽谷-unlock"
                />
                <div class="card-body">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h5 class="card-title fw-bold fs-6">深眠幽谷</h5>
                    <p class="card-text fs-8">收集進度：<span>0 / 82</span></p>
                  </div>
                </div>
              </div>
              <div class="card p-4 bg mb-4">
                <img
                  src="/assets/images/04-background/main-scene/catalog/catalog-main-scene-記憶之森-lock.png"
                  class="card-img-top mb-2"
                  alt="catalog-main-scene-記憶之森-lock"
                />
                <div class="card-body">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h5 class="card-title fw-bold fs-6">記憶森林</h5>
                    <p class="card-text fs-8">
                      解鎖所需里程： <span>6500 / 10000</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="card p-4 bg">
                <img
                  src="/assets/images/04-background/main-scene/catalog/catalog-main-scene-浮島邊境-lock.png"
                  class="card-img-top mb-2"
                  alt="catalog-main-scene-浮島邊境-lock"
                />
                <div class="card-body">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h5 class="card-title fw-bold fs-6">浮島邊境</h5>
                    <p class="card-text fs-8">
                      解鎖所需里程： <span>6500 / 15000</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="position-sticky bottom-0">
            <div class="navbar-height">
              <!-- navbar -->
              <%- include('layout/navbar', { activePage: 'bag' }) -%>
            </div>
          </div>
        </div>
        <!-- home-indicator -->
        <div class="app-home-indicator"></div>
      </div>
    </div>

    <script type="module" src="../main.js"></script>
  </body>
</html>
