<!DOCTYPE html>
<html lang="zh-Hant">
  <%- include("layout/head.ejs") %>
  <body class="overflow-y-auto">
    <div class="app">
      <div class="app-border overflow-hidden">
        <!-- 可以根據頁面設定，基礎的背景色，沒有設定則為透明 -->
        <div class="app-frame bg-neutral-1100 overflow-y-auto">
          <!-- Swiper -->
          <div class="swiper bgSwiper">
            <div class="swiper-wrapper">
              <div
                class="swiper-slide bg-village"
                data-background="village"
              ></div>
              <div
                class="swiper-slide bg-valley locked"
                data-background="valley"
              ></div>
              <div
                class="swiper-slide bg-forest locked"
                data-background="forest"
              ></div>
              <div
                class="swiper-slide bg-island locked"
                data-background="island"
              ></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper textSwiper">
              <div class="swiper-text">
                <p id="scene-intro" class="fs-9 pb-2 fade show">
                  現在探索的場景
                </p>
              </div>
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="swiper-text">
                    <h2
                      id="scene-title"
                      class="fs-3 fw-bold slide-title position-relative"
                    >
                      <span class="slide-title-text">淺夢之村</span>
                    </h2>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="swiper-text">
                    <h2
                      id="scene-title"
                      class="fs-3 fw-bold slide-title position-relative"
                    >
                      <span class="slide-title-text">深眠幽谷</span>
                    </h2>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="swiper-text">
                    <h2
                      id="scene-title"
                      class="fs-3 fw-bold slide-title position-relative"
                    >
                      <span class="slide-title-text">記憶森林</span>
                    </h2>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="swiper-text">
                    <h2
                      id="scene-title"
                      class="fs-3 fw-bold slide-title position-relative"
                    >
                      <span class="slide-title-text">浮島邊境</span>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <img
              class="home-traveler"
              src="/assets/images/04-background/home-character.png"
              alt="旅人圖示"
            />
          </div>

          <!-- main 這裡面放對應的頁面內容 -->
          <main>
            <section class="container home-content text-center">
              <!-- 歡迎使用者 -->
              <h1 class="fw-bold fs-4 mb-4">Simon，歡迎回來</h1>
              <!-- 旅程時間 -->
              <div
                class="d-flex gap-4 justify-content-center align-items-center mb-7"
              >
                <p class="d-flex flex-column">
                  <span class="fs-9">啟程時間</span>
                  <span class="fs-2 letter-spacing-3"
                    >12<span class="colon">:</span>00</span
                  >
                  <span class="fs-9">AM</span>
                </p>
                <img
                  src="/assets/images/05-icon/right-arrow.svg"
                  alt="向右箭頭圖示"
                />
                <p class="d-flex flex-column">
                  <span class="fs-9">抵達時間</span>
                  <span class="fs-2 letter-spacing-3"
                    >08<span class="colon">:</span>00</span
                  >
                  <span class="fs-9">AM</span>
                </p>
              </div>
              <button
                id="departure-button"
                class="btn-departure rounded-circle fw-bold"
                data-locked="true"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight"
              >
                <div class="btn-departure-inner">
                  <span
                    id="departure-button-text"
                    class="btn-departure-content show"
                    >現在啟程</span
                  >
                  <img
                    id="departure-button-icon"
                    class="btn-departure-content locked-icon"
                    style="width: 50px"
                    src="/assets/images/05-icon/locked.svg"
                    alt="鎖定圖示"
                  />
                </div>
              </button>
            </section>
          </main>
          <!-- offcanvas 元件 -->
          <div
            class="offcanvas offcanvas-end"
            data-bs-backdrop="false"
            tabindex="-1"
            id="offcanvasRight"
            aria-labelledby="offcanvasRightLabel"
          >
            <!-- 選擇路徑 -->
            <div class="overflow-y-auto">
              <%- include("layout/top-nav.ejs", { title: "選擇路徑", beforeLink:
              "./index.html", nextLink: null }) %>
              <main class="path-container overflow-y-auto">
                <div class="card path-card p-4 mb-4" data-card-id="0">
                  <img
                    class="mb-2 rounded-2xs"
                    src="/assets/images/04-background/sub-scene/select-page/scene-01/sub-scene-select-page-01-星光小路@2x.png"
                    class="card-img-top"
                    alt="星光小路圖示"
                  />
                  <div
                    class="card-body d-flex justify-content-between align-items-center"
                  >
                    <h2 class="fs-6 fw-bold">星光小路</h2>
                    <p class="fs-8">收集進度：12 / 30</p>
                  </div>
                </div>
                <div class="card path-card p-4 mb-4" data-card-id="1">
                  <img
                    class="mb-2 rounded-2xs"
                    src="/assets/images/04-background/sub-scene/select-page/scene-01/sub-scene-select-page-01-夢語燈塔@2x.png"
                    class="card-img-top"
                    alt="夢語燈塔圖示"
                  />
                  <div
                    class="card-body d-flex justify-content-between align-items-center"
                  >
                    <h2 class="fs-6 fw-bold">夢語燈塔</h2>
                    <p class="fs-8">收集進度：0 / 20</p>
                  </div>
                </div>
                <div class="card path-card p-4" data-card-id="2">
                  <img
                    class="mb-2 rounded-2xs"
                    src="/assets/images/04-background/sub-scene/select-page/scene-01/sub-scene-select-page-01-搖籃草屋@2x.png"
                    class="card-img-top"
                    alt="搖籃草屋圖示"
                  />
                  <div
                    class="card-body d-flex justify-content-between align-items-center"
                  >
                    <h2 class="fs-6 fw-bold">搖籃草屋</h2>
                    <p class="fs-8">收集進度：0 / 25</p>
                  </div>
                </div>
              </main>
              <div class="btn-path-wrapper z-1">
                <button type="button" class="btn-path rounded-pill w-100">
                  下一步
                </button>
              </div>
            </div>
            <!-- 設定旅遊時間 -->
            <div
              class="overflow-y-auto offcanvas-panel travel-time-page bg-neutral-1100"
            >
              <%- include("layout/top-nav.ejs", { title: "設定旅行時間",
              beforeLink: "#", nextLink: null }) %>
              <div class="d-flex flex-column py-6 px-4">
                <a href="#" class="d-flex align-items-center travel-time mb-2">
                  <h2 class="fs-7 fw-bold flex-grow-1 d-flex me-2">
                    <span>啟程時間</span
                    ><span class="ms-auto text-neutral-400">12:00 AM</span>
                  </h2>
                  <img src="/assets/images/05-icon/pen.svg" alt="鉛筆圖示" />
                </a>
                <a href="#" class="d-flex align-items-center travel-time">
                  <h2 class="fs-7 fw-bold flex-grow-1 d-flex me-2">
                    <span>抵達時間</span
                    ><span class="ms-auto text-neutral-400">08:00 AM</span>
                  </h2>
                  <img src="/assets/images/05-icon/pen.svg" alt="鉛筆圖示" />
                </a>
                <a
                  href="./sleep.html"
                  class="btn btn-primary-300 btn-complete rounded-pill mt-auto py-3 fw-bold"
                  >完成</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- navbar -->
        <%- include('layout/navbar', { activePage: 'home' }) -%>
        <!-- home-indicator -->
        <div class="app-home-indicator"></div>
      </div>
    </div>

    <script type="module" src="../main.js"></script>
    <script type="module" src="/assets/scripts/index.js"></script>
  </body>
</html>
